
/InspireBrowser.msi
/inspirebrowser/dependencies/win32/libqxt-v0.6.1.tar.gz
/inspirebrowser/dependencies/win32/vlc-1.1.9-win32.7z
/inspirebrowser/dependencies/win32/vlc-1.1.9
/inspirebrowser/dependencies/win32/libqxt
/inspirebrowser/plugins/browserjs/release
/inspirebrowser/plugins/browserjs/debug
/inspirebrowser/inspirelib/release
/inspirebrowser/inspirelib/debug
/inspirebrowser/browser/release
/inspirebrowser/browser/debug
/inspirebrowser/plugins/commandserver/release
/inspirebrowser/plugins/commandserver/debug
/inspirebrowser/plugins/systemjs/release
/inspirebrowser/plugins/systemjs/debug
/inspirebrowser/plugins/videojs/release
/inspirebrowser/plugins/videojs/debug
/inspireremote/release
/inspireremote/debug
/inspireremote/Makefile.Debug
/inspireremote/Makefile.Release
/inspireremote/Makefile
/inspirebrowser/browser/Makefile.Debug
/inspirebrowser/browser/Makefile.Release
/inspirebrowser/browser/Makefile
/inspirebrowser/plugins/browserjs/Makefile.Debug
/inspirebrowser/plugins/browserjs/Makefile.Release
/inspirebrowser/plugins/browserjs/Makefile
/inspirebrowser/plugins/commandserver/Makefile.Release
/inspirebrowser/plugins/commandserver/Makefile
/inspirebrowser/plugins/commandserver/Makefile.Debug
/inspirebrowser/plugins/systemjs/Makefile.Debug
/inspirebrowser/plugins/systemjs/Makefile.Release
/inspirebrowser/plugins/systemjs/Makefile
/inspirebrowser/plugins/videojs/Makefile.Release
/inspirebrowser/plugins/videojs/Makefile
/inspirebrowser/plugins/videojs/Makefile.Debug
/inspirebrowser/inspirelib/Makefile.Release
/inspirebrowser/inspirelib/Makefile
/inspirebrowser/inspirelib/Makefile.Debug
/Makefile
/inspirebrowser/Makefile
/inspirebrowser/plugins/Makefile
/inspirebrowser/release
/inspirebrowser/debug