
/InspireBrowser.msi
/inspirebrowser/dependencies/win32/libqxt*
/inspirebrowser/dependencies/win32/vlc-*
/inspirebrowser/plugins/*/release
/inspirebrowser/plugins/*/debug
/inspirebrowser/plugins/*/Makefile*
/inspirebrowser/*/release
/inspirebrowser/*/debug
/inspirebrowser/*/Makefile*
/inspireremote/release
/inspireremote/debug
/inspireremote/Makefile*
/Makefile
/inspirebrowser/Makefile
/inspirebrowser/plugins/Makefile
/inspirebrowser/release
/inspirebrowser/debug
/build/*