
/InspireBrowser.msi
/dependencies/win32/libqxt*
/dependencies/win32/vlc-*
/plugins/*.a
/plugins/*.dll
/*/release
/*/debug
/*/Makefile*
/*/*.rc
/release
/debug
/Makefile
/build/*
/inspirelib/object_script.inspirelib.Debug
/inspirelib/object_script.inspirelib.Release