<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>	
	<Product Name='Inspire Browser 0.1.0' Id='BE5A28C0-8684-4CD8-AF05-8A5420604513' UpgradeCode='774A0129-068C-4621-B254-8F5CB8EA7F66'
		Language='1033' Codepage='1252' Version='0.1.0' Manufacturer='Inspire Soft'>

		<Package Id='*' Keywords='Installer' Description="InspireSoft's Inspire Browser 0.1.0 Installer"
		  Comments='Inspire Browser is a registered trademark of Inspire Soft.' Manufacturer='Inspire Soft.'
		  InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
		  
		<WixVariable Id="WixUILicenseRtf" Value="InspireLicense.rtf" />
		
		<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="Inspire Soft's Inspire Browser 0.1.0 Installation [1]" />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='InspireSoft' Name='InspireSoft'>
					<Directory Id='INSTALLDIR' Name='Inspire Browser'>
						<Component Id='MainExecutable' Guid='1882838E-FC21-470D-A3D4-DB505DD061F2'>
							<File Id='InspireBrowserEXE' Name='inspirebrowser.exe' DiskId='1' Source='inspirebrowser.exe' KeyPath='yes'>
								<Shortcut Id="startmenuInspireBrowser01" Directory="ProgramMenuDir" Name="Inspire Browser 0.1.0"
									WorkingDirectory='INSTALLDIR' Icon="inspirebrowser.exe" IconIndex="0" Advertise="yes" />
								<Shortcut Id="desktopInspireBrowser10" Directory="DesktopFolder" Name="Inspire Browser 0.1.0"
									WorkingDirectory='INSTALLDIR' Icon="inspirebrowser.exe" IconIndex="0" Advertise="yes" />
							</File>
						</Component>
						<Component Id='InspireLib' Guid='6902302C-5AEB-46FA-AD45-BC079A7F6586'>
							<File Id='InspireLibDLL' Name='inspirelib.dll' DiskId='1' Source='inspirelib.dll' KeyPath='yes' />
						</Component>
						<Component Id='RemoteExecutable' Guid='CB97735B-F253-4A3B-8B8F-5C1F92973142'>
							<File Id='InspireRemoteEXE' Name='inspireremote.exe' DiskId='1' Source='inspireremote.exe' KeyPath='yes' />
						</Component>
						<Component Id='MingWmLibrary' Guid='33AAA8C9-E914-4249-A586-07D9C34FAB87'>
							<File Id='MingWM10DLL1' Name='mingwm10.dll' DiskId='1' Source='mingwm10.dll' KeyPath='yes' />
							<File Id='MingWM10DLL2' Name='libgcc_s_dw2-1.dll' DiskId='1' Source='libgcc_s_dw2-1.dll' KeyPath='no' />
						</Component>
						<Component Id='QtLibrary' Guid='0C03166C-1AAA-4CD3-B317-E164C3453A00'>
							<File Id='QtCoreDLL' Name='QtCore4.dll' DiskId='1' Source='QtCore4.dll' KeyPath='yes' />
							<File Id='QtGuiDLL' Name='QtGui4.dll' DiskId='1' Source='QtGui4.dll' KeyPath='no' />
							<File Id='QtNetworkDLL' Name='QtNetwork4.dll' DiskId='1' Source='QtNetwork4.dll' KeyPath='no' />
							<File Id='QtWebkitDLL' Name='QtWebKit4.dll' DiskId='1' Source='QtWebKit4.dll' KeyPath='no' />
							<File Id='PhononDLL' Name='phonon4.dll' DiskId='1' Source='phonon4.dll' KeyPath='no' />
						</Component>
						<Component Id='QxtLibrary' Guid='B78106C9-221C-4F59-B109-2139AB7CECC2'>
							<File Id='QxtCoreDLL' Name='QxtCore.dll' DiskId='1' Source='QxtCore.dll' KeyPath='yes' />
						</Component>
						<Directory Id='PluginDir' Name='plugins'>
							<Component Id='Plugin_SystemJs' Guid='4A08D8CC-5DDF-4D07-9BCA-C2835367A97B'>
								<File Id='Plugin_SystemJs_DLL' Name='systemjs.dll' DiskId='1' Source='plugins/systemjs.dll' KeyPath='yes' />
							</Component>
							<Component Id='Plugin_BrowserJs' Guid='9094550C-E1FE-41E1-BB60-6A243493B81D'>
								<File Id='Plugin_BrowserJs_DLL' Name='browserjs.dll' DiskId='1' Source='plugins/browserjs.dll' KeyPath='yes' />
							</Component>
							<Component Id='Plugin_CommandServer' Guid='AA6D2F4D-22ED-4C0A-A9C2-A8BCF575B023'>
								<File Id='Plugin_CommandServer_DLL' Name='commandserver.dll' DiskId='1' Source='plugins/commandserver.dll' KeyPath='yes' />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Inspire Browser 0.1.0">
					<Component Id="ProgramMenuDir" Guid="CB4A4EB8-6FB9-4385-8948-20181E94869D">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
		<Feature Id='Complete' Title='Inspire Browser' Description='The complete package'
			Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'  AllowAdvertise='no' InstallDefault='local'>
			<Feature Id='MainProgram' Title='Inspire Browser' Description='The Inspire Browser and support files' 
				Level='1' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
				<ComponentRef Id='InspireLib' />
				<ComponentRef Id='MainExecutable' />
				<ComponentRef Id='MingWmLibrary' />
				<ComponentRef Id='QtLibrary' />
				<ComponentRef Id='QxtLibrary' />
				<ComponentRef Id='ProgramMenuDir' />
			</Feature>
			<Feature Id='Plugins' Title='Plugins' Description='The Inspire Browser Plugins' 
				Level='1' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
				<Feature Id='JSBrowserPlugin' Title='Javascript Browser Plugin' Description='Plugin that provides a JavaScript API for manipulating the browser window' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_BrowserJs' />
				</Feature>
				<Feature Id='JSSystemPlugin' Title='Javascript System Plugin' Description='Plugin that provides a JavaScript API for querying the system information' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_SystemJs' />
				</Feature>
				<Feature Id='CommandServerPlugin' Title='Command Server Plugin' Description='Plugin that provides the ability to receive commands from the network' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_CommandServer' />
				</Feature>
			</Feature>
			<Feature Id='RemoteProgram' Title='Inspire Remote' Description='Command Line utility for controlling browser instances' 
				Level='1000' Absent='allow' AllowAdvertise='no' InstallDefault='local'>
				<ComponentRef Id='RemoteExecutable' />
			</Feature>
		</Feature>
		
		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />
		
		<Icon Id="inspirebrowser.exe" SourceFile="inspirebrowser.exe" />		
	</Product>
</Wix>
