<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>	
	<Product Name='Inspire Browser 0.1.0' Id='BE5A28C0-8684-4CD8-AF05-8A5420604513' UpgradeCode='774A0129-068C-4621-B254-8F5CB8EA7F66'
		Language='1033' Codepage='1252' Version='0.1.0' Manufacturer='Inspire Soft'>

		<Package Id='*' Keywords='Installer' Description="InspireSoft's Inspire Browser 0.1.0 Installer"
		  Comments='Inspire Browser is a registered trademark of Inspire Soft.' Manufacturer='Inspire Soft.'
		  InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
		  
		<WixVariable Id="WixUILicenseRtf" Value="InspireLicense.rtf" />
		
		<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="Inspire Soft's Inspire Browser 0.1.0 Installation [1]" />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='InspireSoft' Name='InspireSoft'>
					<Directory Id='INSTALLDIR' Name='Inspire Browser'>
						<Component Id='MainExecutable' Guid='1882838E-FC21-470D-A3D4-DB505DD061F2'>
							<File Id='InspireBrowserEXE' Name='inspirebrowser.exe' DiskId='1' Source='inspirebrowser.exe' KeyPath='yes'>
								<Shortcut Id="startmenuInspireBrowser01" Directory="ProgramMenuDir" Name="Inspire Browser 0.1.0"
									WorkingDirectory='INSTALLDIR' Icon="inspirebrowser.exe" IconIndex="0" Advertise="yes" />
								<Shortcut Id="desktopInspireBrowser10" Directory="DesktopFolder" Name="Inspire Browser 0.1.0"
									WorkingDirectory='INSTALLDIR' Icon="inspirebrowser.exe" IconIndex="0" Advertise="yes" />
							</File>
						</Component>
						<Component Id='InspireLib' Guid='6902302C-5AEB-46FA-AD45-BC079A7F6586'>
							<File Id='InspireLibDLL' Name='inspirelib.dll' DiskId='1' Source='inspirelib.dll' KeyPath='yes' />
						</Component>
						<Component Id='RemoteExecutable' Guid='CB97735B-F253-4A3B-8B8F-5C1F92973142'>
							<File Id='InspireRemoteEXE' Name='inspireremote.exe' DiskId='1' Source='inspireremote.exe' KeyPath='yes' />
						</Component>
						<Component Id='MingWmLibrary' Guid='33AAA8C9-E914-4249-A586-07D9C34FAB87'>
							<File Id='MingWM10DLL1' Name='mingwm10.dll' DiskId='1' Source='mingwm10.dll' KeyPath='yes' />
							<File Id='MingWM10DLL2' Name='libgcc_s_dw2-1.dll' DiskId='1' Source='libgcc_s_dw2-1.dll' KeyPath='no' />
						</Component>
						<Component Id='QtLibrary' Guid='0C03166C-1AAA-4CD3-B317-E164C3453A00'>
							<File Id='QtCoreDLL' Name='QtCore4.dll' DiskId='1' Source='QtCore4.dll' KeyPath='yes' />
							<File Id='QtGuiDLL' Name='QtGui4.dll' DiskId='1' Source='QtGui4.dll' KeyPath='no' />
							<File Id='QtNetworkDLL' Name='QtNetwork4.dll' DiskId='1' Source='QtNetwork4.dll' KeyPath='no' />
							<File Id='QtWebkitDLL' Name='QtWebKit4.dll' DiskId='1' Source='QtWebKit4.dll' KeyPath='no' />
							<File Id='PhononDLL' Name='phonon4.dll' DiskId='1' Source='phonon4.dll' KeyPath='no' />
						</Component>
						<Component Id='QxtLibrary' Guid='B78106C9-221C-4F59-B109-2139AB7CECC2'>
							<File Id='QxtCoreDLL' Name='QxtCore.dll' DiskId='1' Source='QxtCore.dll' KeyPath='yes' />
						</Component>
						<Directory Id='PluginDir' Name='plugins'>
							<Component Id='Plugin_SystemJs' Guid='4A08D8CC-5DDF-4D07-9BCA-C2835367A97B'>
								<File Id='Plugin_SystemJs_DLL' Name='systemjs.dll' DiskId='1' Source='plugins/systemjs.dll' KeyPath='yes' />
							</Component>
							<Component Id='Plugin_BrowserJs' Guid='9094550C-E1FE-41E1-BB60-6A243493B81D'>
								<File Id='Plugin_BrowserJs_DLL' Name='browserjs.dll' DiskId='1' Source='plugins/browserjs.dll' KeyPath='yes' />
							</Component>
							<Component Id='Plugin_VideoJs_Vlc' Guid='F03BE394-32E4-474A-ADC4-12D4987E377B'>
								<File Id='Plugin_VideoJs_Vlc_DLL' Name='videojs_vlc.dll' DiskId='1' Source='plugins/videojs_vlc.dll' KeyPath='yes' />
							</Component>
							<Component Id='Plugin_CommandServer' Guid='AA6D2F4D-22ED-4C0A-A9C2-A8BCF575B023'>
								<File Id='Plugin_CommandServer_DLL' Name='commandserver.dll' DiskId='1' Source='plugins/commandserver.dll' KeyPath='yes' />
							</Component>
							<Component Id='VlcLibrary' Guid='E21999CE-B8FB-4F00-891E-2EBFB60F5CC3'>
								<File Id='LibVlcDLL' Name='libvlc.dll' DiskId='1' Source='libvlc.dll' KeyPath='yes' />
								<File Id='LibVlcCoreDLL' Name='libvlccore.dll' DiskId='1' Source='libvlccore.dll' KeyPath='no' />
							</Component>
							<Directory Id='VlcPluginDir' Name='vlc_plugins'>
								<Component Id='VlcPlugins' Guid='DAAF4D8F-59C7-4C63-B6FD-2843C3ABABC6'>
									<File Id='VlcPlugin_liba52_plugin' Name='liba52_plugin.dll' DiskId='1' Source='vlc_plugins/liba52_plugin.dll' KeyPath='yes' />
									<File Id='VlcPlugin_liba52tofloat32_plugin' Name='liba52tofloat32_plugin.dll' DiskId='1' Source='vlc_plugins/liba52tofloat32_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liba52tospdif_plugin' Name='liba52tospdif_plugin.dll' DiskId='1' Source='vlc_plugins/liba52tospdif_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_attachment_plugin' Name='libaccess_attachment_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_attachment_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_bd_plugin' Name='libaccess_bd_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_bd_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_fake_plugin' Name='libaccess_fake_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_fake_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_ftp_plugin' Name='libaccess_ftp_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_ftp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_http_plugin' Name='libaccess_http_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_http_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_imem_plugin' Name='libaccess_imem_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_imem_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_mms_plugin' Name='libaccess_mms_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_mms_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_output_dummy_plugin' Name='libaccess_output_dummy_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_output_dummy_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_output_file_plugin' Name='libaccess_output_file_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_output_file_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_output_http_plugin' Name='libaccess_output_http_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_output_http_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_output_shout_plugin' Name='libaccess_output_shout_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_output_shout_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_output_udp_plugin' Name='libaccess_output_udp_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_output_udp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_realrtsp_plugin' Name='libaccess_realrtsp_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_realrtsp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_smb_plugin' Name='libaccess_smb_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_smb_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_tcp_plugin' Name='libaccess_tcp_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_tcp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaccess_udp_plugin' Name='libaccess_udp_plugin.dll' DiskId='1' Source='vlc_plugins/libaccess_udp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libadjust_plugin' Name='libadjust_plugin.dll' DiskId='1' Source='vlc_plugins/libadjust_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libadpcm_plugin' Name='libadpcm_plugin.dll' DiskId='1' Source='vlc_plugins/libadpcm_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaes3_plugin' Name='libaes3_plugin.dll' DiskId='1' Source='vlc_plugins/libaes3_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaiff_plugin' Name='libaiff_plugin.dll' DiskId='1' Source='vlc_plugins/libaiff_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libalphamask_plugin' Name='libalphamask_plugin.dll' DiskId='1' Source='vlc_plugins/libalphamask_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaout_directx_plugin' Name='libaout_directx_plugin.dll' DiskId='1' Source='vlc_plugins/libaout_directx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaout_file_plugin' Name='libaout_file_plugin.dll' DiskId='1' Source='vlc_plugins/libaout_file_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaout_sdl_plugin' Name='libaout_sdl_plugin.dll' DiskId='1' Source='vlc_plugins/libaout_sdl_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaraw_plugin' Name='libaraw_plugin.dll' DiskId='1' Source='vlc_plugins/libaraw_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libasf_plugin' Name='libasf_plugin.dll' DiskId='1' Source='vlc_plugins/libasf_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libatmo_plugin' Name='libatmo_plugin.dll' DiskId='1' Source='vlc_plugins/libatmo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libau_plugin' Name='libau_plugin.dll' DiskId='1' Source='vlc_plugins/libau_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaudio_format_plugin' Name='libaudio_format_plugin.dll' DiskId='1' Source='vlc_plugins/libaudio_format_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaudiobargraph_a_plugin' Name='libaudiobargraph_a_plugin.dll' DiskId='1' Source='vlc_plugins/libaudiobargraph_a_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaudiobargraph_v_plugin' Name='libaudiobargraph_v_plugin.dll' DiskId='1' Source='vlc_plugins/libaudiobargraph_v_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libaudioscrobbler_plugin' Name='libaudioscrobbler_plugin.dll' DiskId='1' Source='vlc_plugins/libaudioscrobbler_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libavcodec_plugin' Name='libavcodec_plugin.dll' DiskId='1' Source='vlc_plugins/libavcodec_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libavi_plugin' Name='libavi_plugin.dll' DiskId='1' Source='vlc_plugins/libavi_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libball_plugin' Name='libball_plugin.dll' DiskId='1' Source='vlc_plugins/libball_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libbandlimited_resampler_plugin' Name='libbandlimited_resampler_plugin.dll' DiskId='1' Source='vlc_plugins/libbandlimited_resampler_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libbda_plugin' Name='libbda_plugin.dll' DiskId='1' Source='vlc_plugins/libbda_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libblend_plugin' Name='libblend_plugin.dll' DiskId='1' Source='vlc_plugins/libblend_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libblendbench_plugin' Name='libblendbench_plugin.dll' DiskId='1' Source='vlc_plugins/libblendbench_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libbluescreen_plugin' Name='libbluescreen_plugin.dll' DiskId='1' Source='vlc_plugins/libbluescreen_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcaca_plugin' Name='libcaca_plugin.dll' DiskId='1' Source='vlc_plugins/libcaca_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcanvas_plugin' Name='libcanvas_plugin.dll' DiskId='1' Source='vlc_plugins/libcanvas_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcc_plugin' Name='libcc_plugin.dll' DiskId='1' Source='vlc_plugins/libcc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcdda_plugin' Name='libcdda_plugin.dll' DiskId='1' Source='vlc_plugins/libcdda_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcdg_plugin' Name='libcdg_plugin.dll' DiskId='1' Source='vlc_plugins/libcdg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libchain_plugin' Name='libchain_plugin.dll' DiskId='1' Source='vlc_plugins/libchain_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libchorus_flanger_plugin' Name='libchorus_flanger_plugin.dll' DiskId='1' Source='vlc_plugins/libchorus_flanger_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libclone_plugin' Name='libclone_plugin.dll' DiskId='1' Source='vlc_plugins/libclone_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcolorthres_plugin' Name='libcolorthres_plugin.dll' DiskId='1' Source='vlc_plugins/libcolorthres_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libconverter_fixed_plugin' Name='libconverter_fixed_plugin.dll' DiskId='1' Source='vlc_plugins/libconverter_fixed_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcrop_plugin' Name='libcrop_plugin.dll' DiskId='1' Source='vlc_plugins/libcrop_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcroppadd_plugin' Name='libcroppadd_plugin.dll' DiskId='1' Source='vlc_plugins/libcroppadd_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libcvdsub_plugin' Name='libcvdsub_plugin.dll' DiskId='1' Source='vlc_plugins/libcvdsub_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdeinterlace_plugin' Name='libdeinterlace_plugin.dll' DiskId='1' Source='vlc_plugins/libdeinterlace_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdemux_cdg_plugin' Name='libdemux_cdg_plugin.dll' DiskId='1' Source='vlc_plugins/libdemux_cdg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdemuxdump_plugin' Name='libdemuxdump_plugin.dll' DiskId='1' Source='vlc_plugins/libdemuxdump_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdirac_plugin' Name='libdirac_plugin.dll' DiskId='1' Source='vlc_plugins/libdirac_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdirect3d_plugin' Name='libdirect3d_plugin.dll' DiskId='1' Source='vlc_plugins/libdirect3d_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdirectx_plugin' Name='libdirectx_plugin.dll' DiskId='1' Source='vlc_plugins/libdirectx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdmo_plugin' Name='libdmo_plugin.dll' DiskId='1' Source='vlc_plugins/libdmo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdolby_surround_decoder_plugin' Name='libdolby_surround_decoder_plugin.dll' DiskId='1' Source='vlc_plugins/libdolby_surround_decoder_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdrawable_plugin' Name='libdrawable_plugin.dll' DiskId='1' Source='vlc_plugins/libdrawable_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdshow_plugin' Name='libdshow_plugin.dll' DiskId='1' Source='vlc_plugins/libdshow_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdts_plugin' Name='libdts_plugin.dll' DiskId='1' Source='vlc_plugins/libdts_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdtstofloat32_plugin' Name='libdtstofloat32_plugin.dll' DiskId='1' Source='vlc_plugins/libdtstofloat32_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdtstospdif_plugin' Name='libdtstospdif_plugin.dll' DiskId='1' Source='vlc_plugins/libdtstospdif_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdummy_plugin' Name='libdummy_plugin.dll' DiskId='1' Source='vlc_plugins/libdummy_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdvbsub_plugin' Name='libdvbsub_plugin.dll' DiskId='1' Source='vlc_plugins/libdvbsub_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdvdnav_plugin' Name='libdvdnav_plugin.dll' DiskId='1' Source='vlc_plugins/libdvdnav_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libdvdread_plugin' Name='libdvdread_plugin.dll' DiskId='1' Source='vlc_plugins/libdvdread_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libequalizer_plugin' Name='libequalizer_plugin.dll' DiskId='1' Source='vlc_plugins/libequalizer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liberase_plugin' Name='liberase_plugin.dll' DiskId='1' Source='vlc_plugins/liberase_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libes_plugin' Name='libes_plugin.dll' DiskId='1' Source='vlc_plugins/libes_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libexport_plugin' Name='libexport_plugin.dll' DiskId='1' Source='vlc_plugins/libexport_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libextract_plugin' Name='libextract_plugin.dll' DiskId='1' Source='vlc_plugins/libextract_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfaad_plugin' Name='libfaad_plugin.dll' DiskId='1' Source='vlc_plugins/libfaad_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfake_plugin' Name='libfake_plugin.dll' DiskId='1' Source='vlc_plugins/libfake_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfilesystem_plugin' Name='libfilesystem_plugin.dll' DiskId='1' Source='vlc_plugins/libfilesystem_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libflac_plugin' Name='libflac_plugin.dll' DiskId='1' Source='vlc_plugins/libflac_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libflacsys_plugin' Name='libflacsys_plugin.dll' DiskId='1' Source='vlc_plugins/libflacsys_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfloat32_mixer_plugin' Name='libfloat32_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libfloat32_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfluidsynth_plugin' Name='libfluidsynth_plugin.dll' DiskId='1' Source='vlc_plugins/libfluidsynth_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfolder_plugin' Name='libfolder_plugin.dll' DiskId='1' Source='vlc_plugins/libfolder_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libfreetype_plugin' Name='libfreetype_plugin.dll' DiskId='1' Source='vlc_plugins/libfreetype_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgaussianblur_plugin' Name='libgaussianblur_plugin.dll' DiskId='1' Source='vlc_plugins/libgaussianblur_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgestures_plugin' Name='libgestures_plugin.dll' DiskId='1' Source='vlc_plugins/libgestures_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libglobalhotkeys_plugin' Name='libglobalhotkeys_plugin.dll' DiskId='1' Source='vlc_plugins/libglobalhotkeys_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libglwin32_plugin' Name='libglwin32_plugin.dll' DiskId='1' Source='vlc_plugins/libglwin32_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgme_plugin' Name='libgme_plugin.dll' DiskId='1' Source='vlc_plugins/libgme_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgnutls_plugin' Name='libgnutls_plugin.dll' DiskId='1' Source='vlc_plugins/libgnutls_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgoom_plugin' Name='libgoom_plugin.dll' DiskId='1' Source='vlc_plugins/libgoom_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgradient_plugin' Name='libgradient_plugin.dll' DiskId='1' Source='vlc_plugins/libgradient_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgrain_plugin' Name='libgrain_plugin.dll' DiskId='1' Source='vlc_plugins/libgrain_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libgrey_yuv_plugin' Name='libgrey_yuv_plugin.dll' DiskId='1' Source='vlc_plugins/libgrey_yuv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libh264_plugin' Name='libh264_plugin.dll' DiskId='1' Source='vlc_plugins/libh264_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libheadphone_channel_mixer_plugin' Name='libheadphone_channel_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libheadphone_channel_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libhotkeys_plugin' Name='libhotkeys_plugin.dll' DiskId='1' Source='vlc_plugins/libhotkeys_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_rgb_mmx_plugin' Name='libi420_rgb_mmx_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_rgb_mmx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_rgb_plugin' Name='libi420_rgb_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_rgb_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_rgb_sse2_plugin' Name='libi420_rgb_sse2_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_rgb_sse2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_yuy2_mmx_plugin' Name='libi420_yuy2_mmx_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_yuy2_mmx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_yuy2_plugin' Name='libi420_yuy2_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_yuy2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi420_yuy2_sse2_plugin' Name='libi420_yuy2_sse2_plugin.dll' DiskId='1' Source='vlc_plugins/libi420_yuy2_sse2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi422_i420_plugin' Name='libi422_i420_plugin.dll' DiskId='1' Source='vlc_plugins/libi422_i420_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi422_yuy2_mmx_plugin' Name='libi422_yuy2_mmx_plugin.dll' DiskId='1' Source='vlc_plugins/libi422_yuy2_mmx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi422_yuy2_plugin' Name='libi422_yuy2_plugin.dll' DiskId='1' Source='vlc_plugins/libi422_yuy2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libi422_yuy2_sse2_plugin' Name='libi422_yuy2_sse2_plugin.dll' DiskId='1' Source='vlc_plugins/libi422_yuy2_sse2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libinvert_plugin' Name='libinvert_plugin.dll' DiskId='1' Source='vlc_plugins/libinvert_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libinvmem_plugin' Name='libinvmem_plugin.dll' DiskId='1' Source='vlc_plugins/libinvmem_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libkate_plugin' Name='libkate_plugin.dll' DiskId='1' Source='vlc_plugins/libkate_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblibass_plugin' Name='liblibass_plugin.dll' DiskId='1' Source='vlc_plugins/liblibass_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblibmpeg2_plugin' Name='liblibmpeg2_plugin.dll' DiskId='1' Source='vlc_plugins/liblibmpeg2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblive555_plugin' Name='liblive555_plugin.dll' DiskId='1' Source='vlc_plugins/liblive555_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblogger_plugin' Name='liblogger_plugin.dll' DiskId='1' Source='vlc_plugins/liblogger_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblogo_plugin' Name='liblogo_plugin.dll' DiskId='1' Source='vlc_plugins/liblogo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblpcm_plugin' Name='liblpcm_plugin.dll' DiskId='1' Source='vlc_plugins/liblpcm_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liblua_plugin' Name='liblua_plugin.dll' DiskId='1' Source='vlc_plugins/liblua_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmagnify_plugin' Name='libmagnify_plugin.dll' DiskId='1' Source='vlc_plugins/libmagnify_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmarq_plugin' Name='libmarq_plugin.dll' DiskId='1' Source='vlc_plugins/libmarq_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmediadirs_plugin' Name='libmediadirs_plugin.dll' DiskId='1' Source='vlc_plugins/libmediadirs_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmemcpy3dn_plugin' Name='libmemcpy3dn_plugin.dll' DiskId='1' Source='vlc_plugins/libmemcpy3dn_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmemcpymmx_plugin' Name='libmemcpymmx_plugin.dll' DiskId='1' Source='vlc_plugins/libmemcpymmx_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmemcpymmxext_plugin' Name='libmemcpymmxext_plugin.dll' DiskId='1' Source='vlc_plugins/libmemcpymmxext_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmirror_plugin' Name='libmirror_plugin.dll' DiskId='1' Source='vlc_plugins/libmirror_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmjpeg_plugin' Name='libmjpeg_plugin.dll' DiskId='1' Source='vlc_plugins/libmjpeg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmkv_plugin' Name='libmkv_plugin.dll' DiskId='1' Source='vlc_plugins/libmkv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmod_plugin' Name='libmod_plugin.dll' DiskId='1' Source='vlc_plugins/libmod_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmono_plugin' Name='libmono_plugin.dll' DiskId='1' Source='vlc_plugins/libmono_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmosaic_plugin' Name='libmosaic_plugin.dll' DiskId='1' Source='vlc_plugins/libmosaic_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmotionblur_plugin' Name='libmotionblur_plugin.dll' DiskId='1' Source='vlc_plugins/libmotionblur_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmotiondetect_plugin' Name='libmotiondetect_plugin.dll' DiskId='1' Source='vlc_plugins/libmotiondetect_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmp4_plugin' Name='libmp4_plugin.dll' DiskId='1' Source='vlc_plugins/libmp4_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmpc_plugin' Name='libmpc_plugin.dll' DiskId='1' Source='vlc_plugins/libmpc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmpeg_audio_plugin' Name='libmpeg_audio_plugin.dll' DiskId='1' Source='vlc_plugins/libmpeg_audio_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmpgatofixed32_plugin' Name='libmpgatofixed32_plugin.dll' DiskId='1' Source='vlc_plugins/libmpgatofixed32_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmpgv_plugin' Name='libmpgv_plugin.dll' DiskId='1' Source='vlc_plugins/libmpgv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmsn_plugin' Name='libmsn_plugin.dll' DiskId='1' Source='vlc_plugins/libmsn_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_asf_plugin' Name='libmux_asf_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_asf_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_avi_plugin' Name='libmux_avi_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_avi_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_dummy_plugin' Name='libmux_dummy_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_dummy_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_mp4_plugin' Name='libmux_mp4_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_mp4_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_mpjpeg_plugin' Name='libmux_mpjpeg_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_mpjpeg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_ogg_plugin' Name='libmux_ogg_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_ogg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_ps_plugin' Name='libmux_ps_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_ps_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_ts_plugin' Name='libmux_ts_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_ts_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libmux_wav_plugin' Name='libmux_wav_plugin.dll' DiskId='1' Source='vlc_plugins/libmux_wav_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnetsync_plugin' Name='libnetsync_plugin.dll' DiskId='1' Source='vlc_plugins/libnetsync_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnoise_plugin' Name='libnoise_plugin.dll' DiskId='1' Source='vlc_plugins/libnoise_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnormvol_plugin' Name='libnormvol_plugin.dll' DiskId='1' Source='vlc_plugins/libnormvol_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnsc_plugin' Name='libnsc_plugin.dll' DiskId='1' Source='vlc_plugins/libnsc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnsv_plugin' Name='libnsv_plugin.dll' DiskId='1' Source='vlc_plugins/libnsv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libntservice_plugin' Name='libntservice_plugin.dll' DiskId='1' Source='vlc_plugins/libntservice_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libnuv_plugin' Name='libnuv_plugin.dll' DiskId='1' Source='vlc_plugins/libnuv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libogg_plugin' Name='libogg_plugin.dll' DiskId='1' Source='vlc_plugins/libogg_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liboldhttp_plugin' Name='liboldhttp_plugin.dll' DiskId='1' Source='vlc_plugins/liboldhttp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liboldrc_plugin' Name='liboldrc_plugin.dll' DiskId='1' Source='vlc_plugins/liboldrc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_liboldtelnet_plugin' Name='liboldtelnet_plugin.dll' DiskId='1' Source='vlc_plugins/liboldtelnet_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libosd_parser_plugin' Name='libosd_parser_plugin.dll' DiskId='1' Source='vlc_plugins/libosd_parser_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libosdmenu_plugin' Name='libosdmenu_plugin.dll' DiskId='1' Source='vlc_plugins/libosdmenu_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_copy_plugin' Name='libpacketizer_copy_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_copy_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_dirac_plugin' Name='libpacketizer_dirac_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_dirac_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_flac_plugin' Name='libpacketizer_flac_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_flac_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_h264_plugin' Name='libpacketizer_h264_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_h264_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_mlp_plugin' Name='libpacketizer_mlp_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_mlp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_mpeg4audio_plugin' Name='libpacketizer_mpeg4audio_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_mpeg4audio_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_mpeg4video_plugin' Name='libpacketizer_mpeg4video_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_mpeg4video_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_mpegvideo_plugin' Name='libpacketizer_mpegvideo_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_mpegvideo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpacketizer_vc1_plugin' Name='libpacketizer_vc1_plugin.dll' DiskId='1' Source='vlc_plugins/libpacketizer_vc1_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpanoramix_plugin' Name='libpanoramix_plugin.dll' DiskId='1' Source='vlc_plugins/libpanoramix_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libparam_eq_plugin' Name='libparam_eq_plugin.dll' DiskId='1' Source='vlc_plugins/libparam_eq_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libplaylist_plugin' Name='libplaylist_plugin.dll' DiskId='1' Source='vlc_plugins/libplaylist_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpng_plugin' Name='libpng_plugin.dll' DiskId='1' Source='vlc_plugins/libpng_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpodcast_plugin' Name='libpodcast_plugin.dll' DiskId='1' Source='vlc_plugins/libpodcast_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libportaudio_plugin' Name='libportaudio_plugin.dll' DiskId='1' Source='vlc_plugins/libportaudio_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpostproc_plugin' Name='libpostproc_plugin.dll' DiskId='1' Source='vlc_plugins/libpostproc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libprojectm_plugin' Name='libprojectm_plugin.dll' DiskId='1' Source='vlc_plugins/libprojectm_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libps_plugin' Name='libps_plugin.dll' DiskId='1' Source='vlc_plugins/libps_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpsychedelic_plugin' Name='libpsychedelic_plugin.dll' DiskId='1' Source='vlc_plugins/libpsychedelic_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpuzzle_plugin' Name='libpuzzle_plugin.dll' DiskId='1' Source='vlc_plugins/libpuzzle_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libpva_plugin' Name='libpva_plugin.dll' DiskId='1' Source='vlc_plugins/libpva_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libqt4_plugin' Name='libqt4_plugin.dll' DiskId='1' Source='vlc_plugins/libqt4_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libquicktime_plugin' Name='libquicktime_plugin.dll' DiskId='1' Source='vlc_plugins/libquicktime_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librawaud_plugin' Name='librawaud_plugin.dll' DiskId='1' Source='vlc_plugins/librawaud_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librawdv_plugin' Name='librawdv_plugin.dll' DiskId='1' Source='vlc_plugins/librawdv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librawvid_plugin' Name='librawvid_plugin.dll' DiskId='1' Source='vlc_plugins/librawvid_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librawvideo_plugin' Name='librawvideo_plugin.dll' DiskId='1' Source='vlc_plugins/librawvideo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libreal_plugin' Name='libreal_plugin.dll' DiskId='1' Source='vlc_plugins/libreal_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librealvideo_plugin' Name='librealvideo_plugin.dll' DiskId='1' Source='vlc_plugins/librealvideo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libremoteosd_plugin' Name='libremoteosd_plugin.dll' DiskId='1' Source='vlc_plugins/libremoteosd_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libripple_plugin' Name='libripple_plugin.dll' DiskId='1' Source='vlc_plugins/libripple_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librotate_plugin' Name='librotate_plugin.dll' DiskId='1' Source='vlc_plugins/librotate_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librss_plugin' Name='librss_plugin.dll' DiskId='1' Source='vlc_plugins/librss_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librtp_plugin' Name='librtp_plugin.dll' DiskId='1' Source='vlc_plugins/librtp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_librv32_plugin' Name='librv32_plugin.dll' DiskId='1' Source='vlc_plugins/librv32_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsap_plugin' Name='libsap_plugin.dll' DiskId='1' Source='vlc_plugins/libsap_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libscale_plugin' Name='libscale_plugin.dll' DiskId='1' Source='vlc_plugins/libscale_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libscaletempo_plugin' Name='libscaletempo_plugin.dll' DiskId='1' Source='vlc_plugins/libscaletempo_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libscene_plugin' Name='libscene_plugin.dll' DiskId='1' Source='vlc_plugins/libscene_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libschroedinger_plugin' Name='libschroedinger_plugin.dll' DiskId='1' Source='vlc_plugins/libschroedinger_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libscreen_plugin' Name='libscreen_plugin.dll' DiskId='1' Source='vlc_plugins/libscreen_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsdl_image_plugin' Name='libsdl_image_plugin.dll' DiskId='1' Source='vlc_plugins/libsdl_image_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsharpen_plugin' Name='libsharpen_plugin.dll' DiskId='1' Source='vlc_plugins/libsharpen_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsimple_channel_mixer_plugin' Name='libsimple_channel_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libsimple_channel_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libskins2_plugin' Name='libskins2_plugin.dll' DiskId='1' Source='vlc_plugins/libskins2_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsmf_plugin' Name='libsmf_plugin.dll' DiskId='1' Source='vlc_plugins/libsmf_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libspatializer_plugin' Name='libspatializer_plugin.dll' DiskId='1' Source='vlc_plugins/libspatializer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libspdif_mixer_plugin' Name='libspdif_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libspdif_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libspeex_plugin' Name='libspeex_plugin.dll' DiskId='1' Source='vlc_plugins/libspeex_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libspudec_plugin' Name='libspudec_plugin.dll' DiskId='1' Source='vlc_plugins/libspudec_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstats_plugin' Name='libstats_plugin.dll' DiskId='1' Source='vlc_plugins/libstats_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_filter_rar_plugin' Name='libstream_filter_rar_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_filter_rar_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_filter_record_plugin' Name='libstream_filter_record_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_filter_record_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_autodel_plugin' Name='libstream_out_autodel_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_autodel_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_bridge_plugin' Name='libstream_out_bridge_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_bridge_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_description_plugin' Name='libstream_out_description_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_description_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_display_plugin' Name='libstream_out_display_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_display_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_dummy_plugin' Name='libstream_out_dummy_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_dummy_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_duplicate_plugin' Name='libstream_out_duplicate_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_duplicate_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_es_plugin' Name='libstream_out_es_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_es_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_gather_plugin' Name='libstream_out_gather_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_gather_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_mosaic_bridge_plugin' Name='libstream_out_mosaic_bridge_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_mosaic_bridge_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_raop_plugin' Name='libstream_out_raop_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_raop_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_record_plugin' Name='libstream_out_record_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_record_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_rtp_plugin' Name='libstream_out_rtp_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_rtp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_smem_plugin' Name='libstream_out_smem_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_smem_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_standard_plugin' Name='libstream_out_standard_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_standard_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libstream_out_transcode_plugin' Name='libstream_out_transcode_plugin.dll' DiskId='1' Source='vlc_plugins/libstream_out_transcode_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsubsdec_plugin' Name='libsubsdec_plugin.dll' DiskId='1' Source='vlc_plugins/libsubsdec_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsubsusf_plugin' Name='libsubsusf_plugin.dll' DiskId='1' Source='vlc_plugins/libsubsusf_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsubtitle_plugin' Name='libsubtitle_plugin.dll' DiskId='1' Source='vlc_plugins/libsubtitle_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libsvcdsub_plugin' Name='libsvcdsub_plugin.dll' DiskId='1' Source='vlc_plugins/libsvcdsub_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libswscale_plugin' Name='libswscale_plugin.dll' DiskId='1' Source='vlc_plugins/libswscale_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libt140_plugin' Name='libt140_plugin.dll' DiskId='1' Source='vlc_plugins/libt140_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtaglib_plugin' Name='libtaglib_plugin.dll' DiskId='1' Source='vlc_plugins/libtaglib_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtheora_plugin' Name='libtheora_plugin.dll' DiskId='1' Source='vlc_plugins/libtheora_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtransform_plugin' Name='libtransform_plugin.dll' DiskId='1' Source='vlc_plugins/libtransform_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtrivial_channel_mixer_plugin' Name='libtrivial_channel_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libtrivial_channel_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtrivial_mixer_plugin' Name='libtrivial_mixer_plugin.dll' DiskId='1' Source='vlc_plugins/libtrivial_mixer_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libts_plugin' Name='libts_plugin.dll' DiskId='1' Source='vlc_plugins/libts_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtta_plugin' Name='libtta_plugin.dll' DiskId='1' Source='vlc_plugins/libtta_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libtwolame_plugin' Name='libtwolame_plugin.dll' DiskId='1' Source='vlc_plugins/libtwolame_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libty_plugin' Name='libty_plugin.dll' DiskId='1' Source='vlc_plugins/libty_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libugly_resampler_plugin' Name='libugly_resampler_plugin.dll' DiskId='1' Source='vlc_plugins/libugly_resampler_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvc1_plugin' Name='libvc1_plugin.dll' DiskId='1' Source='vlc_plugins/libvc1_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvcd_plugin' Name='libvcd_plugin.dll' DiskId='1' Source='vlc_plugins/libvcd_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvideo_filter_wrapper_plugin' Name='libvideo_filter_wrapper_plugin.dll' DiskId='1' Source='vlc_plugins/libvideo_filter_wrapper_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvisual_plugin' Name='libvisual_plugin.dll' DiskId='1' Source='vlc_plugins/libvisual_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvmem_plugin' Name='libvmem_plugin.dll' DiskId='1' Source='vlc_plugins/libvmem_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvobsub_plugin' Name='libvobsub_plugin.dll' DiskId='1' Source='vlc_plugins/libvobsub_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvoc_plugin' Name='libvoc_plugin.dll' DiskId='1' Source='vlc_plugins/libvoc_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvod_rtsp_plugin' Name='libvod_rtsp_plugin.dll' DiskId='1' Source='vlc_plugins/libvod_rtsp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvorbis_plugin' Name='libvorbis_plugin.dll' DiskId='1' Source='vlc_plugins/libvorbis_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvout_sdl_plugin' Name='libvout_sdl_plugin.dll' DiskId='1' Source='vlc_plugins/libvout_sdl_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libvout_wrapper_plugin' Name='libvout_wrapper_plugin.dll' DiskId='1' Source='vlc_plugins/libvout_wrapper_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libwall_plugin' Name='libwall_plugin.dll' DiskId='1' Source='vlc_plugins/libwall_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libwav_plugin' Name='libwav_plugin.dll' DiskId='1' Source='vlc_plugins/libwav_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libwave_plugin' Name='libwave_plugin.dll' DiskId='1' Source='vlc_plugins/libwave_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libwaveout_plugin' Name='libwaveout_plugin.dll' DiskId='1' Source='vlc_plugins/libwaveout_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libwingdi_plugin' Name='libwingdi_plugin.dll' DiskId='1' Source='vlc_plugins/libwingdi_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libx264_plugin' Name='libx264_plugin.dll' DiskId='1' Source='vlc_plugins/libx264_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libxa_plugin' Name='libxa_plugin.dll' DiskId='1' Source='vlc_plugins/libxa_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libxml_plugin' Name='libxml_plugin.dll' DiskId='1' Source='vlc_plugins/libxml_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libxtag_plugin' Name='libxtag_plugin.dll' DiskId='1' Source='vlc_plugins/libxtag_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libyuv_plugin' Name='libyuv_plugin.dll' DiskId='1' Source='vlc_plugins/libyuv_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libyuvp_plugin' Name='libyuvp_plugin.dll' DiskId='1' Source='vlc_plugins/libyuvp_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libyuy2_i420_plugin' Name='libyuy2_i420_plugin.dll' DiskId='1' Source='vlc_plugins/libyuy2_i420_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libyuy2_i422_plugin' Name='libyuy2_i422_plugin.dll' DiskId='1' Source='vlc_plugins/libyuy2_i422_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libzip_plugin' Name='libzip_plugin.dll' DiskId='1' Source='vlc_plugins/libzip_plugin.dll' KeyPath='no' />
									<File Id='VlcPlugin_libzvbi_plugin' Name='libzvbi_plugin.dll' DiskId='1' Source='vlc_plugins/libzvbi_plugin.dll' KeyPath='no' />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Inspire Browser 0.1.0">
					<Component Id="ProgramMenuDir" Guid="CB4A4EB8-6FB9-4385-8948-20181E94869D">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
		<Feature Id='Complete' Title='Inspire Browser' Description='The complete package'
			Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'  AllowAdvertise='no' InstallDefault='local'>
			<Feature Id='MainProgram' Title='Inspire Browser' Description='The Inspire Browser and support files' 
				Level='1' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
				<ComponentRef Id='InspireLib' />
				<ComponentRef Id='MainExecutable' />
				<ComponentRef Id='MingWmLibrary' />
				<ComponentRef Id='QtLibrary' />
				<ComponentRef Id='QxtLibrary' />
				<ComponentRef Id='ProgramMenuDir' />
			</Feature>
			<Feature Id='Plugins' Title='Plugins' Description='The Inspire Browser Plugins' 
				Level='1' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
				<Feature Id='JSBrowserPlugin' Title='Javascript Browser Plugin' Description='Plugin that provides a JavaScript API for manipulating the browser window' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_BrowserJs' />
				</Feature>
				<Feature Id='JSSystemPlugin' Title='Javascript System Plugin' Description='Plugin that provides a JavaScript API for querying the system information' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_SystemJs' />
				</Feature>
				<Feature Id='JSVideoPlugin_VLC' Title='Javascript Video Plugin (VLC)' Description='Plugin that provides a JavaScript API for displaying Video (VLC Backend)' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_VideoJs_Vlc' />
					<ComponentRef Id='VlcLibrary' />
					<ComponentRef Id='VlcPlugins' />
				</Feature>
				<Feature Id='CommandServerPlugin' Title='Command Server Plugin' Description='Plugin that provides the ability to receive commands from the network' 
					Level='10' Absent='disallow' AllowAdvertise='no' InstallDefault='local'>
					<ComponentRef Id='Plugin_CommandServer' />
				</Feature>
			</Feature>
			<Feature Id='RemoteProgram' Title='Inspire Remote' Description='Command Line utility for controlling browser instances' 
				Level='1000' Absent='allow' AllowAdvertise='no' InstallDefault='local'>
				<ComponentRef Id='RemoteExecutable' />
			</Feature>
		</Feature>
		
		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />
		
		<Icon Id="inspirebrowser.exe" SourceFile="inspirebrowser.exe" />		
	</Product>
</Wix>